nav {
  width: 100%;
  display: flex;
  position: fixed;
  justify-content: space-between;
  background: #000;
  padding-left: 2em;
  padding-right: 2em;
}

.mt-40-nav {
  margin-top: 40px;
}
