.op-motion-press {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.bg-press {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.bg-press::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;

  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

  -moz-background-size: cover;
  -o-background-size: cover;

  -webkit-background-size: cover;
  -webkit-background-position: center;
  /* -webkit-background-attachment: scroll; */
  -webkit-background-repeat: no-repeat;
}

@supports (-webkit-touch-callout: none) {
  .bg-press::before {
    background-attachment: scroll;
  }
}

@supports not (-webkit-touch-callout: none) {
  .bg-press::before {
    background-attachment: fixed;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
