.op-motion {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  /* background-image: url(../../assets/img/banner-1.png);
  background-position-y: center; */
}

.bg-banner::before {
  background-image: url(../../assets/img/banner-1.png);
  background-position-y: center;
  background-attachment: fixed;
}

.minicover {
  background-image: url(../../assets/img/banner-1.png);
}

@media (max-width: 768px) {
  .bg-banner::before {
    background-position-x: center;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
